<header>
    <app-header></app-header>
</header>
<section class="container">
    <span>{{title}} is running!</span>
   <!-- <app-binding></app-binding>
   <app-stock></app-stock>
   <app-event></app-event>
   <app-di></app-di>
   <app-lifecycle></app-lifecycle>
   <app-http></app-http>
   <app-weather></app-weather> 
   <app-spa></app-spa> -->
   <app-home></app-home>
   <app-consumer></app-consumer>
   <app-notifier></app-notifier>
</section>
<footer class="bg-dark text-info text-center">
    <h3>Copyright reserved to tejaswini</h3>
</footer>